#leftcolumn{
    position: absolute;
    /*top: 100;*/
    bottom: 0; 
    left: 0;
    width: 200px; /*Width of frame div*/
    height: 90%;
    overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
    background: #ddd;
    color: #333;
}

#maincontent{
    /*position: fixed;
    top: 100; */
    position: relative;
    left: 200px; /*Set left value to WidthOfFrameDiv*/
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: #fff;
}

#tasklist tbody tr td {
    background-color: #eee;
}
#tasklist tbody tr.odd  td {
    background-color: #fff;
}