<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <script type="text/javascript" src="/ext/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="/ext/ext-all-debug.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.Data.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.TaskList.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.NavigationPane.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.TaskDetails.js"></script>
  <script type="text/javascript" src="/js/MaybeLater.ProjectTree.js"></script>
  <script type="text/javascript">
    Ext.onReady(MaybeLater.Application.init, MaybeLater.Application);
  </script>
  
  <title>MaybeLater</title>
</head>
<body>
  <div id="maybe-later" />
</body>
</html>
