{% extends "simple/base.html" %}
{% block title %}Context - {{ context_name }}{% endblock %}
{% block pretasks %}
<div id="leftcolumn">
<h1>{{ context_name }}</h1> 
<!-- The context listing -->
<div id="blueblock">
<ul>
  <li><a href="/context/">Inbox</a></li> 
{% for context_dict in context_listing %} 
  <li><a href="/context/{{ context_dict.context_object.id }}/">{{ context_dict.context_object.name }}</a></li> 
{% endfor %}
</ul>
</div>
<!-- The context listing ends -->
<h3>Add new context</h3>
<form action="/context/new" method="POST">
  <label for="name">Name: </label><input type="text" name="name" />
  <label for="parent">Parent: </label>
  <select name="parent">
    <option value="" selected>None</option>
    {% for context_dict in context_listing %} 
    <option value="{{ context_dict.context_object.id }}">{{ context_dict.context_object.name }}</option>
    {% endfor %} 
  </select>
  <input type="submit" value="Add" />
</form>
</div>
{% endblock %}
