{% extends "simple/base.html" %}
{% block title %}Edit My Profile{% endblock %}

{% block content %}
<form action="/profile/" method="POST">
  <div id="error">{{ profile_error }}</div>
  <p>Change profile</p>
  <label for="first_name">First Name: </label><input type="text" name="first_name" value="{{ profile.first_name }}" /><br />
  <label for="last_name">Last Name: </label><input type="text" name="last_name" value="{{ profile.last_name }}" /><br />
  <label for="email">Email: </label><input type="text" name="email" value="{{ profile.email }}" /><br />
  <label for="jid">Jid: </label><input type="jid" name="first_name" value="{{ jid }}" /><br />
  <input type="submit" name='edit_profile' value="Save" />
</form>
<br /><br />
<form action="/profile/" method="POST">
  <div id="error">{{ password_error }}</div>
  <p>Change Password:</p>
  <label for="old_password">Old password: </label><input type="text" name="old_password" /><br />
  <label for="new_password">New password: </label><input type="text" name="new_password" /><br />
  <label for="new_password_verify">Verify new password: </label><input type="text" name="new_password_verify" /><br />
  <input type="submit" name='change_password' value="Save" />
</form>
{% endblock %}

{% block footer %}{% endblock %}